* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/cart.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}
.container {
  margin: 10vh auto;
  width: 60%;
}
.add {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.add input {
  width: 50%;
  margin-top: 0.5em;
}

.add button {
  margin-top: 0.5em;
  border-radius: 20px;
  padding: 0.2em 0.5em;
  background-color: black;
  border: none;
  color: #fdb801;
}

ul {
  background-color: antiquewhite;
  list-style: inside;
  padding: 1em;
  border-radius: 30px;
  width: 60%;
}

ul li {
  border-bottom: 1px dotted gray;
}
